 <!DOCTYPE html>
 <html lang="en">

 <head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Document</title>
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
         integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
 </head>

 <body>
     <div class="container">
         <h1 style="color:blue"> Captured monters registry</h1>
         <form action="/products" method="post">
             <div class="mb-3">
                 <label for="exampleInputEmail1" class="form-label">Name</label>
                 <input class="form-control" id="inputNombre" name="nombre" aria-describedby="emailHelp" required>

             </div>
             <div class="mb-3">
                 <label for="exampleInputPassword1" class="form-label">Price</label>
                 <input type="number" class="form-control" name="precio" id="inputPrecio" required>
             </div>
             <div class="mb-3">
                 <label for="exampleInputPassword1" class="form-label">URL</label>
                 <input type="url" class="form-control" name="url" id="inputUrl" required>
                 <div id="emailHelp" class="form-text">Debe ser una direccion valida</div>
             </div>
             <button type="submit" class="btn btn-primary">Cargar</button>
         </form>
         <a href="/products" class="btn btn-success">To Products</a>
     </div>

     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
         integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous">
     </script>
 </body>

 </html>